:root {
	--scroll-to: 0px;
	overflow: hidden;
}

div {
	font: 135% Arial;
	position: absolute;
	margin: 0;
	color: white;
	text-shadow:
		2px 0 0 black,
		0 2px 0 black,
		-2px 0 0 black,
		0 -2px 0 black;
	overflow: hidden;
	white-space: nowrap;
}

@keyframes scroll {
	from {
		transform: translateX(100vw);
	}
	to {
		transform: translateX(var(--scroll-to));
	}
}
